@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

form{
     border: 1px solid #022452;
     border-radius: 20px;
     height: auto;
     width: 400px;
     padding: 20px 10px;
     margin: 30px auto 23px;
     color: #032858;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.input-group{
     margin: 10px 0;
     font-size: 18px;
}
label{
     margin-right: 15px;
}
input{
     padding: 5px 10px;
     border-radius: 8px;
     border: 1px solid #022452;
     font-family: 'Mulish', sans-serif;
}
input::placeholder{
     color: #1d324f;
     opacity: 0.6;
}
.icon{
     width: 40px;
     height: 40px;
     padding: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.submitBtn{
     width: 100px;
     height: 50px;
     background: #022452;
     color: #f1f1f1;
     border-radius: 8px;
     display: block;
     margin: 15px auto;
     transition: transform 0.3s ease-out;
}
.submitBtn:active{
     transform: scale(0.9);
}