.global-pages{
     width: 650px;
}
h1{
     font-size: 50px;
     color: #022452;
     margin-bottom: 5px;
     margin-top: 40px;
}
h3{
     color: #022452;
     opacity: 0.6;
}

.hide{
     display: none;
}

@media screen and (max-width: 1150px) {
     .global-pages{
          margin: 0 auto;
     }
}